body {  
font-family: "Roboto", sans-serif;
color: #434455;   
background-color:#fff ;    
}

/* Reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}
/* Reset end */

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
        padding : 0 15px;
         margin: 0 auto;
}


/* #region Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container
 {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
        align-items: center;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
    .header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.menu-list {
    display:flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;

}
.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
}

 
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus
 {
    color: #404bbf;
}
/* #endregion Header */

/* #region Hero section */


.hero-section {
   background-color: #2e2f42; 
   padding-top: 188px;
   padding-bottom: 188px;
   background-image: linear-gradient(to bottom,
   rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
   url("/images/hero-image/people-office\ 1.jpg");
   max-width: 1440px;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}

.hero-title {
    max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #4d5ae5;
    cursor: pointer;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: block;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
       min-width: 169px;
          height: 56px;
          margin: 0 auto;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endregion Hero section */

/* #region Advantages */

.advantages-section {
    padding: 120px 0;
}

.advantages-types {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.advantages-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.advantages-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.advantages-list-item {
    width: 264px;
}

/* #endregion Advantages */

/* #region Team section */

.team-section {
    background-color: #f4f4fd; 
    padding: 120px 0;
}
.team-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-list-item {
    background-color: #fff;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.team-group {
   
        padding-top: 32px;
        padding-bottom: 32px;
}


.company-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}

/* #endregion Team section */

/* #region Portfolio */

.portfolio-section {
    padding: 120px 0;
}

.portfolio-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin: 0 auto;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-card {
    margin-bottom: 0;
}

.portfolio-advantage {

        border-bottom: 1px solid #e7e9fc;
            border-left: 1px solid #e7e9fc;
            border-right: 1px solid #e7e9fc;
            padding-block: 32px;
            padding-inline: 16px;
            width: 360px;
}

.digital-service-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;
}

.creative-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion Portfolio */

/* #region Footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer-container {
    
    margin-left: 156px;
    display: flex;
        align-items: normal;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
  
}

.footer-logo {
   display: inline-block;
    margin-bottom: 16px; 
}

.footer-logo .logo-part {
    color: #f4f4fd;
    
}

.footer-content-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

/* #endregion Footer */
